<script type="riot/tag">
<response-handler-modal>

    <div name='response_modal' class="ui small modal">
      <i class="close icon"></i>
      <div class="header">
        { title }
      </div>
      <div class="image content">
        <div class="image">
          <i class="mail outline icon"></i>
        </div>
        <div class="description">
          <p><strong>{ message }</strong></p>
        </div>
      </div>
      <div class="actions">
        <div class="ui close button">OK</div>
      </div>
    </div>

    onResponse(data) {
        $.extend(this, data);
        this.update();
        $(this.response_modal).modal('show');
    }

</response-handler-modal>
</script>
